<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4</key>
	<array>
		<string>收集管道没做好防渗漏措施</string>
		<string>车间有跑冒滴漏现象</string>
		<string>收集管道最终去向不知</string>
	</array>
	<key>5</key>
	<array>
		<string>雨水排口有明显油污</string>
		<string>生产废水进入雨水或清下水口</string>
		<string>生活污水进入雨水或清下水口</string>
	</array>
	<key>6</key>
	<array>
		<string>加药泵不能正常开启</string>
		<string>加药桶中药剂添加不正常</string>
		<string>加药要求不符合环评、审批要求</string>
		<string>无加药记录</string>
	</array>
	<key>7</key>
	<array>
		<string>设施开启不正常</string>
		<string>设施没按照要求规范运行</string>
		<string>存在私自设置的多余管道、水泵等</string>
	</array>
	<key>8</key>
	<array>
		<string>没设置标志牌</string>
		<string>没安装三角堰、矩形堰、测流槽等规范装置</string>
		<string>设施变更没有相关手续</string>
	</array>
	<key>9</key>
	<array>
		<string>没按照环评和审批要求安装收集装置</string>
		<string>各收集点位不完全安装收集装置</string>
	</array>
	<key>10</key>
	<array>
		<string>管道有脱落、断开、腐蚀洞穿等情况</string>
	</array>
	<key>11</key>
	<array>
		<string>加药桶中药剂不正常</string>
		<string>加药泵不能正常开启</string>
	</array>
	<key>13</key>
	<array>
		<string>排放高度根据目测，不符合环评、验收要求，有明显差别</string>
	</array>
	<key>16</key>
	<array>
		<string>采样闲置</string>
		<string>采样稀释</string>
		<string> 采样规避</string>
		<string>采样设备损坏</string>
	</array>
	<key>17</key>
	<array>
		<string>无照明设备</string>
		<string>摄像头不能监控排污情况</string>
		<string>监控设备闲置</string>
		<string>图像不能正常传输、脱机</string>
	</array>
	<key>18</key>
	<array>
		<string>存在人为断电、脱机、乱接电等</string>
		<string>接地不规范</string>
		<string>无稳定电压</string>
		<string>无防雷措施</string>
	</array>
	<key>19</key>
	<array>
		<string> 仪器内试剂使用不规范</string>
		<string>分配采样器使用不规范</string>
		<string>爬梯设置不规范</string>
		<string>载气不正常</string>
	</array>
	<key>20</key>
	<array>
		<string>设备不正常工作，传输数据不正常</string>
		<string>分析仪器、数采仪、监控中心数据传输不一致</string>
		<string>中控室DCS数据与在线不一致</string>
	</array>
	<key>21</key>
	<array>
		<string>运维记录内容造假</string>
		<string>运维记录单编号错乱</string>
	</array>
	<key>22</key>
	<array>
		<string>量程设置不规范</string>
		<string>采样间隔时间不规范</string>
		<string>Y=a+bX参数设置不规范</string>
	</array>
	<key>23</key>
	<array>
		<string>存在恒值、零值、超标值等</string>
		<string>历史数据缺失或不完整</string>
	</array>
	<key>24</key>
	<array>
		<string>无固废台帐资料</string>
		<string>固废台帐资料不规范</string>
	</array>
	<key>25</key>
	<array>
		<string>无申报登记</string>
		<string>发生重大改变，未在十日内申报</string>
	</array>
	<key>26</key>
	<array>
		<string>贮存场所地面未硬化，场所无雨棚、围堰或围墙</string>
	</array>
	<key>27</key>
	<array>
		<string>未建设贮存场所</string>
		<string>未按种类分别收集、贮存、不同类固废间无明显间隔</string>
		<string>未经核准关闭、闲置或拆除污染防治设施或场所的</string>
	</array>
	<key>28</key>
	<array>
		<string>无危险废物台账资料</string>
		<string>危险废物台账资料不规范</string>
	</array>
	<key>29</key>
	<array>
		<string>无危险废物管理计划</string>
		<string>管理计划不规范</string>
		<string>计划未报环保部门备案，重大改变未及时申报</string>
	</array>
	<key>30</key>
	<array>
		<string>无危险废物转移联单</string>
		<string>转移前未报批转移计划并得到批准</string>
		<string>转移给无处理资质的单位</string>
	</array>
	<key>31</key>
	<array>
		<string>标签设置不符合《危险废物贮存污染控制标准》附录A要求</string>
	</array>
	<key>32</key>
	<array>
		<string>未经批准贮存时间超过一年</string>
		<string>未按种类分别收集、贮存，不同类危险废物间无明显间隔</string>
		<string>混合贮存危险废物，将危险废物混入非危险废物中贮存</string>
	</array>
	<key>37</key>
	<array>
		<string>应急产生的废水不能自流</string>
		<string>容量不能满足环评、验收要求</string>
		<string>应急池没空置状态</string>
		<string>应急阀门没有关闭</string>
	</array>
	<key>38</key>
	<array>
		<string>没有按照环评、安评要求贮备应急物质</string>
		<string> 应急物质保存较差</string>
	</array>
	<key>39</key>
	<array>
		<string>没有编制企业应急预案</string>
		<string>应急预案不符合企业实际</string>
	</array>
	<key>40</key>
	<array>
		<string>从上一年初至今没有开展过应急演练，没有图片、方案等资料</string>
	</array>
</dict>
</plist>
