<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GGDMJ</key>
	<dict>
		<key>GLLB</key>
		<array>
			<dict>
				<key>DM</key>
				<string>9901</string>
				<key>DMNR</key>
				<string>国控</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>9902</string>
				<key>DMNR</key>
				<string>省控</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>9903</string>
				<key>DMNR</key>
				<string>市控</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>9904</string>
				<key>DMNR</key>
				<string>县控</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>9905</string>
				<key>DMNR</key>
				<string>一般</string>
			</dict>
		</array>
		<key>JCSY</key>
		<array>
			<dict>
				<key>DM</key>
				<string>5601</string>
				<key>DMNR</key>
				<string>日常监察</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>5602</string>
				<key>DMNR</key>
				<string>专项行动</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>5603</string>
				<key>DMNR</key>
				<string>信访调查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>5604</string>
				<key>DMNR</key>
				<string>三同时跟踪</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>5605</string>
				<key>DMNR</key>
				<string>在线检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>5606</string>
				<key>DMNR</key>
				<string>应急检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>5607</string>
				<key>DMNR</key>
				<string>其它</string>
			</dict>
		</array>
		<key>SSQY</key>
		<array>
			<dict>
				<key>DM</key>
				<string>330111000</string>
				<key>DMNR</key>
				<string>下沙区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330102000</string>
				<key>DMNR</key>
				<string>上城区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330103000</string>
				<key>DMNR</key>
				<string>下城区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330104000</string>
				<key>DMNR</key>
				<string>江干区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330105000</string>
				<key>DMNR</key>
				<string>拱墅区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330106000</string>
				<key>DMNR</key>
				<string>西湖区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330108000</string>
				<key>DMNR</key>
				<string>滨江区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330109000</string>
				<key>DMNR</key>
				<string>萧山区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330110000</string>
				<key>DMNR</key>
				<string>余杭区</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330122000</string>
				<key>DMNR</key>
				<string>桐庐县</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330127000</string>
				<key>DMNR</key>
				<string>淳安县</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330182000</string>
				<key>DMNR</key>
				<string>建德市</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330183000</string>
				<key>DMNR</key>
				<string>富阳市</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330185000</string>
				<key>DMNR</key>
				<string>临安市</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>330113000</string>
				<key>DMNR</key>
				<string>西湖名胜风景区</string>
			</dict>
		</array>
		<key>XZJG</key>
		<array>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0001</string>
				<key>DMNR</key>
				<string>环境保护现场检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0002</string>
				<key>DMNR</key>
				<string>对排放水污染单位监督检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0003</string>
				<key>DMNR</key>
				<string>对产生固体废物单位监督检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0004</string>
				<key>DMNR</key>
				<string>对噪声排污单位监督检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0006</string>
				<key>DMNR</key>
				<string>对产生尾矿的企业进行现场检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0007</string>
				<key>DMNR</key>
				<string>放射性污染防治监督检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0008</string>
				<key>DMNR</key>
				<string>进入危险化学品作业场所进行现场检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0009</string>
				<key>DMNR</key>
				<string>对自然保护区的监督检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0010</string>
				<key>DMNR</key>
				<string>拆船作业现场检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0011</string>
				<key>DMNR</key>
				<string>对服务项目经营者现场检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0012</string>
				<key>DMNR</key>
				<string>对医疗卫生机构和医疗废物集中处置单位监督检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0013</string>
				<key>DMNR</key>
				<string>对畜禽养殖场环境保护工作监督检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0014</string>
				<key>DMNR</key>
				<string>对污染物排放许可证实施定期检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0015</string>
				<key>DMNR</key>
				<string>对环保部门下达的重要工程任务进行归档文件材料检查</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0016</string>
				<key>DMNR</key>
				<string>检查、核实排污申报登记内容</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0017</string>
				<key>DMNR</key>
				<string>水污染物排放许可证持证单位监管</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0018</string>
				<key>DMNR</key>
				<string>责令危险废物经营许可证持证单位限期整改</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0019</string>
				<key>DMNR</key>
				<string>危险废物经营单位定期报告及归档监管</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0020</string>
				<key>DMNR</key>
				<string>危险废物转移联单管理</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0021</string>
				<key>DMNR</key>
				<string>太湖流域水污染物许可证持证单位监督管理</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0022</string>
				<key>DMNR</key>
				<string>建设项目环境监管</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0023</string>
				<key>DMNR</key>
				<string>对建设项目环评审批后的监管</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0024</string>
				<key>DMNR</key>
				<string>建设项目试生产监管</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>HZ01HB-JG-0025</string>
				<key>DMNR</key>
				<string>建设项目“三同时”监管</string>
			</dict>
		</array>
		<key>SSHY</key>
		<array>
			<dict>
				<key>DMNR</key>
				<string>电镀</string>
				<key>DM</key>
				<string>3301</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>3302</string>
				<key>DMNR</key>
				<string>化工</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>3303</string>
				<key>DMNR</key>
				<string>造纸</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>3304</string>
				<key>DMNR</key>
				<string>印染</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>3305</string>
				<key>DMNR</key>
				<string>污水处理厂</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>3306</string>
				<key>DMNR</key>
				<string>热电</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>33999</string>
				<key>DMNR</key>
				<string>其他</string>
			</dict>
		</array>
		<key>QYXZ</key>
		<array>
			<dict>
				<key>DM</key>
				<string>1</string>
				<key>DMNR</key>
				<string>正常生产</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>2</string>
				<key>DMNR</key>
				<string>限期治理</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>3</string>
				<key>DMNR</key>
				<string>停产</string>
			</dict>
			<dict>
				<key>DM</key>
				<string>4</string>
				<key>DMNR</key>
				<string>关闭</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
